<form action="<%=cats_url%>" method="POST">
  <label>Birthdate:
  <input type="date" name="cat[birthdate]">
  </label>
  <label>Color:
  <input type="text" name="cat[color]">
  </label>
  <label>Name:
  <input type="text" name="cat[name]">
  </label>
  <label>Sex:
  <input type="text" name="cat[sex]">
  </label>
  <label>Description:
  <input type="textarea" name="cat[description]">
  </label>
  <input type="submit" value="Add Cat">
</form>
